<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>配置详情</title>
    <link rel="stylesheet" href="../../../static/component/pear/css/pear.css"/>
    <link rel="stylesheet" href="../../../static/component/codemirror5/codemirror.css"/>
</head>

<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <button id="go-back" class="layui-btn  layui-btn-normal"><i
                class="layui-icon layui-icon-return layui-font-12"></i>
        </button>
        <p style="display: inline-block;vertical-align:middle;height:38px;line-height:38px;text-align:center;font-size:12px;padding-left: 10px">
            <span class="layui-breadcrumb">
                    <a id="go-info-project" href=""></a>
                    <a id="go-info-project-group" href=""></a>
        </span>
        </p>
        <div class="layui-layout-right" style="top: 10px;right: 15px;bottom: 15px">
            <button id="configAdd"
                    class="layui-btn  layui-btn-normal">
                新增配置
            </button>
            <button
                    class="layui-btn  layui-btn-normal">
                📣发布配置
            </button>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body" id="divTreeContent" style="overflow: auto">
                <div id="treeContent">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md9">
        <div class="layui-card">
            <div class="layui-card-body" id="divConfigContent" style="overflow: auto">
                <div style="margin-top:12px;margin-bottom: 24px">
                    <p style="display: inline">
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn layui-btn-normal">编辑</button>
                        <button type="button" class="layui-btn layui-btn-normal">删除</button>
                        <button type="button" class="layui-btn layui-btn-normal">历史版本</button>
                        <button type="button" class="layui-btn layui-btn-normal">转为副本</button>
                    </div>
                    </p>
                    <p class="layui-word-aux layui-layout-right"
                       style="display: inline-block;top: 20px;right: 15px;height: 38px;vertical-align: middle;line-height: 38px;font-weight: bold;font-size: large">
                    </p>
                </div>
                <div id="configContent" style="overflow: auto"></div>
            </div>
        </div>
    </div>
</div>

<script src="../../../static/component/layui/layui.js"></script>
<script src="../../../static/component/pear/pear.js"></script>
<script src="../../../static/component/codemirror5/codemirror.js"></script>
<script src="../../../static/component/codemirror5/mode/yaml.js"></script>
<script>
    window.onload = function () {
        function auto_height() {
            document.getElementById("divTreeContent").style.height = "80vh";
            document.getElementById("divConfigContent").style.height = "80vh";
        }

        auto_height();
        window.onresize = auto_height;
    }

    layui.use(['jquery', 'popup', 'sail', 'tree', 'layer'], function () {
        let popup = layui.popup;
        let $ = layui.jquery;
        let sail = layui.sail;
        let tree = layui.tree;
        let layer = layui.layer;
        sail.prefilterAjax();

        let cm = new CodeMirror(document.getElementById("configContent"), {
            lineNumbers: true,
            mode: "yaml",
            styleActiveLine: true,
            matchBrackets: true,
        });

        var jumpData = JSON.parse(sessionStorage.getItem("jumpConfig"));
        var accessToken = localStorage.getItem("accessToken");

        $.ajax({
            url: '/sail/v1/config/tree',
            data: {
                project_id: parseInt(jumpData.project_id),
                project_group_id: parseInt(jumpData.project_group_id),
            },
            headers: sail.setAuth(accessToken),
            dataType: 'json',
            type: 'get',
            success: function (result) {
                sail.checkSuccess(result, function (resp) {
                    tree.render({
                        elem: '#treeContent',  //绑定元素
                        data: resp.data,
                        id: "treeConfig"
                    });
                });
            },
            error: sail.ajaxError,
        })

        $('#go-back').click(function () {
            sessionStorage.removeItem("jumpConfig");
            window.history.back();
        });

        $('#configAdd').click(function () {
            layer.open({
                type: 2,
                title: "新增配置",
                shade: 0.1,
                area: ['400px', '400px'],
                content: '/ui/config/add?' + 'project_id=' + jumpData.project_id + '&project_group_id=' + jumpData.project_group_id,
            })
        });


        $('#go-info-project').text('项目名：' + jumpData.project_name);
        $('#go-info-project-group').text('所属项目组：' + jumpData.project_group_name);
    })
</script>
</body>
</html>