<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>公共配置</title>
    <link rel="stylesheet" href="../../../static/component/pear/css/pear.css"/>
    <link rel="stylesheet" href="../../../static/component/codemirror5/codemirror.css"/>
</head>

<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form layui-inline" style="margin: 0" lay-filter="public-query-form" action="">
            <div class="layui-form-item layui-inline" style="margin: 0">
                <label class="layui-form-label">项目组</label>
                <div class="layui-input-inline">
                    <select id="user-query-select" lay-filter="user-query-select" name="project_group_id"
                            lay-search="">
                        {{range $id,$val := .PGArr}}
                        <option value="{{$val.ID}}">{{$val.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
        </form>
        <div class="layui-layout-right" style="top: 10px;right: 15px;bottom: 15px">
            <button id="configAdd"
                    class="layui-btn  layui-btn-normal">
                新增配置
            </button>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body" id="divTreeContent" style="overflow: auto">
                <div id="treeContent">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md9">
        <div class="layui-card">
            <div class="layui-card-body" id="divConfigContent" style="overflow: auto">
                <div style="margin-top:12px;margin-bottom: 24px">
                    <p style="display: inline">
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn layui-btn-normal">编辑</button>
                        <button type="button" class="layui-btn layui-btn-normal">删除</button>
                        <button type="button" class="layui-btn layui-btn-normal">历史版本</button>
                    </div>
                    </p>
                    <p class="layui-word-aux layui-layout-right"
                       style="display: inline-block;top: 20px;right: 15px;height: 38px;vertical-align: middle;line-height: 38px;font-weight: bold;font-size: large">
                    </p>
                </div>
                <div id="configContent" style="overflow: auto"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
</style>

<script src="../../../static/component/layui/layui.js"></script>
<script src="../../../static/component/pear/pear.js"></script>
<script src="../../../static/component/codemirror5/codemirror.js"></script>
<script src="../../../static/component/codemirror5/mode/yaml.js"></script>
<script>
    window.onload = function () {
        function auto_height() {
            document.getElementById("divTreeContent").style.height = "80vh";
            document.getElementById("divConfigContent").style.height = "80vh";
        }

        auto_height();
        window.onresize = auto_height;
    }

    layui.use(['jquery', 'form', 'popup', 'sail', 'tree', 'layer'], function () {
        let popup = layui.popup;
        let $ = layui.jquery;
        let sail = layui.sail;
        let tree = layui.tree;
        let layer = layui.layer;
        let form = layui.form;
        sail.prefilterAjax();

        let projectGroupId = sessionStorage.getItem("jumpPublicWith");
        sessionStorage.removeItem("jumpPublicWith");
        if (projectGroupId !== 0) {
            let options = $('#user-query-select').children();
            options.each(function (index, elem) {
                if ($(elem).val() == projectGroupId) {
                    $(elem).attr('selected', "true");
                }
            })
        }
        form.render('select');

        let cm = new CodeMirror(document.getElementById("configContent"), {
            lineNumbers: true,
            mode: "yaml",
            styleActiveLine: true,
            matchBrackets: true,
        });
        let jumpData = form.val("public-query-form");

        var accessToken = localStorage.getItem("accessToken");
        let renderTree = function (pgid) {
            $.ajax({
                url: '/sail/v1/config/tree',
                data: {
                    project_id: 0,
                    project_group_id: parseInt(pgid),
                },
                headers: sail.setAuth(accessToken),
                dataType: 'json',
                type: 'get',
                success: function (result) {
                    sail.checkSuccess(result, function (resp) {
                        tree.render({
                            elem: '#treeContent',  //绑定元素
                            data: resp.data,
                            id: "treeConfig"
                        });
                    });
                },
                error: sail.ajaxError,
            });
        }
        renderTree(jumpData.project_group_id);

        form.on('select(user-query-select)', function (data) {
            renderTree(data.value);
            return false;
        });

        $('#configAdd').click(function () {
            layer.open({
                type: 2,
                title: "新增配置",
                shade: 0.1,
                area: ['400px', '400px'],
                content: '/ui/public/add?' + 'project_group_id=' + jumpData.project_group_id,
            })
        });
    })
</script>
</body>
</html>