<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>项目组管理</title>
    <link rel="stylesheet" href="../../../static/component/pear/css/pear.css"/>
</head>

<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">项目组ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="project_group_id" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">项目组名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="project_group_name" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="user-table" lay-filter="user-table"></table>
    </div>
</div>

<script type="text/html" id="user-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
</script>

<script src="../../../static/component/layui/layui.js"></script>
<script src="../../../static/component/pear/pear.js"></script>
<script>
    layui.use(['table', 'form', 'jquery', 'popup'], function () {
        let table = layui.table;
        let form = layui.form;
        let popup = layui.popup;
        let $ = layui.jquery;

        // HELP --- start
        const ajaxError = function (jqXHR, textStatus) {
            if (jqXHR.status === 401) {
                return
            }

            let sjson = jqXHR.responseJSON;
            if (sjson.hasOwnProperty("message")) {
                popup.failure(sjson.message);
            } else {
                popup.failure(textStatus.toString());
            }
        };
        const checkSuccess = function (result, callback) {
            if (result.code === 0) {
                callback(result);
            } else {
                popup.failure(result.message);
            }
        }
        const setAuth = function (token) {
            return {
                "Authorization": "Bearer " + token,
            }
        }
        const delRefreshAndRelogin = function () {
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            popup.warning("登录过期，请重新登录");
            top.location.href = "/ui/login";
        }
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            originalOptions._error = originalOptions.error;
            // overwrite error handler for current request
            options.error = function (_jqXHR, _textStatus, _errorThrown) {
                if (jqXHR.status !== 401) {
                    if (originalOptions._error) originalOptions._error(_jqXHR, _textStatus, _errorThrown);
                    return;
                }
                var refreshToken = localStorage.getItem("refreshToken");
                $.ajax({
                    type: "POST",
                    url: "/sail/v1/login/refresh",
                    data: JSON.stringify({old_refresh_token: refreshToken}),
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    dataType: "JSON",
                    success: function (result) {
                        if (result.code !== 0) {
                            delRefreshAndRelogin();
                            return
                        }
                        localStorage.setItem("accessToken", result.data.access_token);
                        localStorage.setItem("refreshToken", result.data.refresh_token);
                        originalOptions.headers = setAuth(result.data.access_token);
                        $.ajax(originalOptions);
                    },
                    error: function (jqXHR, textStatus) {
                        delRefreshAndRelogin();
                    }
                })
            };
        });
        // HELP --- end

        var accessToken = localStorage.getItem("accessToken");

        table.render({
            elem: '#user-table',
            url: '/sail/v1/project_group/list',
            page: true,
            headers: setAuth(accessToken),
            request: {
                pageName: "page_index",
                limitName: "page_size",
            },
            parseData: function (resp) {
                if (resp.code === 0) {
                    return {
                        code: resp.code,
                        msg: resp.message,
                        count: resp.data.count,
                        data: resp.data.list,
                    }
                } else {
                    popup.failure(resp.message);
                    return {
                        code: 0,
                    }
                }
            },
            cols: [
                [{
                    title: 'ID',
                    field: 'project_group_id',
                    align: 'center',
                }, {
                    title: '项目组名',
                    field: 'name',
                    align: 'center',
                }, {
                    title: '创建人',
                    field: 'create_by_name',
                    align: 'center',
                }, {
                    title: '创建时间',
                    field: 'create_time',
                    align: 'center',
                    templet: function (res) {
                        return getDateString(res.create_time);
                    },
                }, {
                    title: '操作',
                    align: 'center',
                    minWidth: 400,
                    templet: function (res) {
                        if (res.managed) {
                            return '<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button> \n' +
                                '<button class="pear-btn  pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>\n' +
                                '<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="public">管理公共配置</button>\n' +
                                '<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="namespace">管理命名空间</button>'
                        }
                        return ' '
                    }
                }]
            ],
            skin: 'line',
            toolbar: '#user-toolbar',
            defaultToolbar: [],
            error: ajaxError,
        });

        table.on('tool(user-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        table.on('toolbar(user-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            }
        });

        form.on('submit(user-query)', function (data) {
            table.reload('user-table', {
                where: data.field
            })
            return false;
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: [common.isModile() ? '100%' : '500px', common.isModile() ? '100%' : '400px'],
                content: '/system/admin/add'
            });
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '400px'],
                content: '/system/admin/edit/?id=' + obj.data.id
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该用户', {
                icon: 3,
                title: '提示'
            }, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "/system/admin/delete?id=" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code == 200) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function () {
                                obj.del();
                            });
                        } else {
                            layer.close(loading);
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }
    })

    function getDateString(n) {
        let now = new Date(n * 1000),
            y = now.getFullYear(),
            m = now.getMonth() + 1,
            d = now.getDate();
        return y + "-" + (m < 10 ? "0" + m : m) + "-" + (d < 10 ? "0" + d : d) + " " + now.toTimeString().substr(0, 8);
    }
</script>
</body>

</html>